@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');

body {
  font-family: 'Nunito', sans-serif;
  padding: 0;
  margin: 0;
  background-color: #0a1828;
}

.active {
  opacity: 1 !important;
}

.header {
  width: 100%;
  height: 800px;
  overflow: hidden;
  position: relative;
  opacity: 0;
}

.introTextContainer {
  position: relative;
  top: 50vh;
  background-color: #192d42;
  box-shadow: 0 0 100px rgba(46,74,411,0.4), 0 1px 2px rgba(46,74,411,0.7);
  border-radius: 2px;
  padding: 20px;
  color: #fff;
}

.layer {
  width: 100%;
  height: 800px;
  background-repeat: no-repeat;
  position: fixed;
  background-position: top center;
  background-size: auto;
  z-index: -1;
}

.contentArea1 {
  background-image: url("images/intro-section-background.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-color: #0a1828;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 2;
}

.layer1 {
  background-image: url("images/layer1.png");
  width: 100%;
  height: 800px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto;
  position: relative;
  z-index: 10;
}

.layer2 {
  background-image: url("images/layer2.png");
}

.layer3 {
  background-image: url("images/layer3.png");
}

.layer4 {
  background-image: url("images/layer4.png");
}

.layer5 {
  background-image: url("images/layer5.png");
}

.layer6 {
  background-image: url("images/layer6.png");
}

.slide2 {
  width: 100%;
  height: 100vh;
}

.paragraph1 {
  position: fixed;
  font-weight: 800;
  left: 62vw;
  top: 550px;
  color: #f8f0e5;
  font-size: 55px;
  z-index: 1;
  text-shadow: 3px 3px rgba(0,0,0,.2);
}

.globe {
  width: 900px;
  height: 900px;
}

svg {
  max-width: 600px;
  overflow: visible;
  margin-top: 60vh;
}

.ball {
  fill: white;
  visibility: hidden;
}

.line {
  fill: none;
  stroke: white;
  stroke-width: 2px;
}

text {
  fill: white;
  font-size: 15px;
  font-family: "Signika Negative", sans-serif;
  visibility: hidden;
}